<section id="posts">
	<% for article in articles[0...1] %>
	<article>
		<header>
			<h1><%= article.title %></h1>
			<div class="author"><%= article.author %></div>
			<div class="details">
				<time><%= article.date %></time> &bull; <a href="<%= article.path %>">Permalink</a>
			</div>
		</header>
		
		<%= article.summary %>
		<a href="<%= article.path %>">Read More</a>
	</article>
	<hr>
	<% end %>
</section>

<%= archives[1..-1] %>
