section#archive, section#archive header, section#posts, footer section {width:85%;}

article blockquote {font-size:1.8rem;line-height:1.75;margin-left:0px;margin-right:0px;}
article cite {font-size:1.2rem}
blockquote:before {
    content: "";
    font-size: 1px;
    line-height: 0;
    margin-bottom: 0;
}

figure {
	font-family: 'PTSansCaptionRegular', Arial, sans-serif;
    margin:0 0 2em 0; /* 0 0 32px 0 */
    text-align: center;
    font-size: 105%;
    margin: 3em -9% 1.7em;
    max-width: 960px;
}

img, video, iframe { 
	padding: 0; 
	max-height: auto; 
	border: none; 
	background-color: transparent; 
	box-shadow: none; 
}